.member-header
  .img
    = link_to root_path do
      = image_tag "/images/fmarket_logo_red.svg", alt: "ふりまの画像", size: "200x128"
    -# %a(href="https://fril.jp/")
    -#   %img(src="https://asset.fril.jp/assets/new_web/site-logo_with_logo-05541314c14ec45997862f221cfbcebc5103aae0426451047914e06bfb0f4679.png" alt="ラクマ")/
  %ul.texts
    %li.text.text-now
      会員情報
      .dot●
    %li.text.text-now
      電話番号認証
      .dot●
    %li.text.text-now
      お届け先住所入力
      .dot●
    %li.text.text-now
      支払い方法
      .dot●
    %li.text.text-now
      完了
      .dot●


.regist
  .regist__header
    会員登録完了
  .regist__text
    ありがとうございます。<br>
    会員登録が完了しました。
  = link_to root_path do
    .regist__btn
      メルカリを始める
  .regist__image
    %img{src: "https://i.gyazo.com/e7f18c1fa8d4c55463f51cf0270e9a90.jpg", width: "700"}


.body__footer
  .body__footer__top
    .body__footer__top__privacy
      = link_to "プライバシーポリシー", "http://www.nogizaka46.com/" 
    .body__footer__top__rule
      = link_to "メルカリ利用規約", "https://www.hinatazaka46.com/s/official/?ima=0000"
    .body__footer__top__trade
      = link_to "特定商取引に関する表記", "https://www.keyakizaka46.com/s/k46o/?ima=0000" 
  .body__footer__bottom
    .body__footer__bottom__image
      = link_to root_path do
        = image_tag "/images/logo_gray.svg", alt: "フリマの画像", size: "100x80"
    .body__footer__bottom__string
      © 1973 FamilyMart