= render 'shared/top_header'
.breadcrumbs-box
  - breadcrumb :mypage
  = breadcrumbs separator: " #{content_tag(:i, '', :class=>'fa fa-angle-double-right')} "
%main.container.clearfix
  = render 'shared/side_bar'
  .l-container
    %section.mypage__user-icon
      = link_to root_path do
        = image_tag "/images/user-image.jpg", alt: "本人イメージ", size: "60x60"
        -# = image_tag asset_path("user-image.jpg"), alt: "本人イメージ", width: "60", height: "60"
        %h2 
          = current_user.nickname
        .mypage__user__data
          .user--evaluation
            評価
            %span 0
          .user--transaction
            出品数
            - if @exhibit_item.present?
              %span
                = @exhibit_item.count
            - else
              %span 0
    %section.mypage__tab
      %ul.mypage__tab
        %li.active
          %h3 お知らせ
        %li
          %h3 やることリスト
      .tab-content
        %ul.tab-contentbox.showbox
          %li
            = link_to root_path do
              = image_tag "/images/logo_white.svg", alt: "ロゴ", size: "45x45"
              .mypage__item-body
                .mypage__item-body__text
                  事務局から...
                %time
                  %i.fa.fa-clock
                  %span 1日前
              %i.fa.fa-fighter-jet
          %li.last
            = link_to root_path do
              一覧を見る
        %ul.tab-contentbox
          %li.noitem
            = image_tag "/images/logo_white.svg", alt: "ロゴ", size: "60x60"
            %span 現在、やることリストはありません
          -# %li
          -#   = link_to root_path do
          -#     = image_tag "/images/logo_white.svg", alt: "ロゴ", size: "45x45"
          -#     .mypage__item-body
          -#       .mypage__item-body__text
          -#         本社から...
          -#       %time
          -#         %i.fa.fa-clock
          -#         %span 2日前
          -#     %i.fa.fa-fighter-jet
          -# %li.last
          -#   = link_to root_path do
          -#     一覧を見る

    %section.mypage__buy
      %h2 購入した商品
      %ul.mypage__buy__tab
        %li.active
          %h3 取引中
        %li
          %h3 過去の取引
      .tab-content
        %ul.tab-contentbox.showbox
          - if @items.present?
            - @items.each do |item|
              %li
                = link_to item_path(item), data: {"turbolinks" => false} do
                  = image_tag item.images[0], alt: "商品の画像", size: "45x45"
                  .buy-item__body
                    .buy-item__body__text
                      = item.name 
                      を購入しました。取引が完了しました
                    .buy-status
                      取引完了
                  %i.fa.fa-fighter-jet
            %li.last
              = link_to root_path do
                一覧を見る
          - else
            %li.noitem
              = image_tag "/images/logo_white.svg", alt: "ロゴ", size: "60x60"
              %span 取引中の商品はありません
        %ul.tab-contentbox
          - if @buy_items.present?
            - @buy_items.each do |item|
              %li
                = link_to item_path(item), data: {"turbolinks" => false} do
                  = image_tag item.images[0], alt: "商品の画像", size: "45x45"
                  .buy-item__body
                    .buy-item__body__text
                      = item.name
                      を購入しました。取引が完了しました
                    .buy-status
                      取引完了
                  %i.fa.fa-fighter-jet
            %li.last
              = link_to root_path do
                一覧を見る
          - else
            %li.noitem
              = image_tag "/images/logo_white.svg", alt: "ロゴ", size: "60x60"
              %span 過去に取引した商品はありません

= render 'shared/exhibit_btn'

= render 'shared/top_footer'