= render 'shared/top_header'
.breadcrumbs-box
  - breadcrumb :mypage
  = breadcrumbs separator: " #{content_tag(:i, '', :class=>'fa fa-angle-double-right')} "
%main.container.clearfix
  = render 'shared/side_bar'
  .l-container
    .myitem
      .myitem-title
        出品した商品
      %ul.myitem-status
        %li.myitem-status__title
          %a(href="#" class="now") 出品中
        %li.myitem-status__title
          %a(href="#") 取引中
        %li.myitem-status__title
          %a(href="#") 売却済み
      .myitem-list
        - @itemNow.each do |item|
          = link_to item_path(item) do
            .myitem-list__box
              = item.name

= render 'shared/exhibit_btn'
= render 'shared/top_footer'