= render 'shared/top_header'
.breadcrumbs-box
  - breadcrumb :profile
  = breadcrumbs separator: " #{content_tag(:i, '', :class=>'fa fa-angle-double-right')} "
%main.container.clearfix
  = render 'shared/side_bar'
  .l-container
    %section.profil-box
      %h2.profil--header プロフィール
      %form{action: " ", method: "POST"}
        %input{name: " ", type: "hidden"}
        .setting-profile-icon
          = image_tag "/images/user-image.jpg", alt: "本人イメージ", size: "60x60"
          %input.input-default{name: "nickname", placeholder: "例)まいやん", type: "text"}
        .setting-profile-content
          %textarea.textarea-default{name: "introduction", placeholder: "例）こんにちは！"}
          %button.btn-default.btn-red{type: "submit"} 変更する
= render 'shared/top_footer'