.buy-confirmation
  .buy-confirmation__header
    %h3
      = image_tag asset_path("logo_white.svg"), alt: "ロゴ", width: "45", height: "45"
  .buy-confirmation__main
    %section.buy__mainbox
      %h2 購入内容の確認
      %section.buy__item
        .buy__item-box
          = image_tag asset_path("user-image.jpg"), alt: "本人イメージ", width: "60", height: "60"
          %p.item-name サンプル
          %form(action="#")
            %p.buy-price
              = "¥#{@item.price.to_s(:delimited, delimiter: ',')}"
              %span 送料込み
            .buy__point-box
              ポイントはありません
            .buy__price-box.clearfix
              .price-tag
                支払い金額
              .total-price
                %span
                  = "¥#{@item.price.to_s(:delimited, delimiter: ',')}"
          = form_tag(action: :pay, method: :post) do
            %button.buy-button 購入する
      %section.buy__user-address
        .buy__user-address__box
          %h3 配送先
          %address
            〒 -
          = link_to root_path do
            %span 変更する
            %i.fa.fa-angle-double-right
      %section.buy__user-payment
        .buy__user-payment__box
          %h3 支払い方法
          %p
            %br
            &frasl;
          = link_to root_path do
            %span 変更する
            %i.fa.fa-angle-double-right
  .buy-confirmation__footer
    %nav
      %ul
        %li
          = link_to root_path do
            プライバシーポリシー
        %li
          = link_to root_path do
            メルカリ利用規約
        %li
          = link_to root_path do
            特定商取引に関する表記
    = link_to root_path, class: "app-logo" do
      = image_tag asset_path("logo_white.svg"), alt: "ロゴ", width: "45", height: "45"
    %p.footer-text
      %small © 2019 Mercari