= render 'shared/top_header'
//------------------------------------------------------------
//||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
//スライド-----------------------------------------------------

.body-campaign
  .slick
    %a(href="https://jp-news.mercari.com/2019/12/05/kaushika-kaudake-2/")
      %img{:src => "https://i.gyazo.com/9fb96cc24a97feb16055d9b5c8758e9c.jpg", :width => "1440"}/
    %a(href="https://www.mercari.com/jp/featured/camp/")
      %img{:src => "https://i.gyazo.com/5f02d2c7e47358dbd19ec4a5ee8af672.jpg", :width => "1440"}/
    %a(href="https://apps.apple.com/jp/app/id667861049?l=ja")
      %img{:src => "https://i.gyazo.com/79b3da6d5fac946fbc7cd734066c75c2.jpg", :width => "1440"}/

//------------------------------------------------------------
//||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
//トップページボデぃー ------------------------------------------

.toppage-body
  .toppage-body__heading
    .toppage-body__heading--title
      人気のカテゴリー
    %ul.toppage-body__heading--categores
      %li.toppage-body__heading--category#ladiesbtn
        %a レディース
      %li.toppage-body__heading--category#mensbtn
        %a メンズ
      %li.toppage-body__heading--category#kadensbtn
        %a 家電・スマホ・カメラ
      %li.toppage-body__heading--category#toysbtn
        %a おもちゃ・ホビー・グッズ

  .toppage-body__container#topladies
    .toppage-body__container--heading
      レディース新着アイテム
      = form_with url: categorylist_items_path, method: :get, local: true do |f|
        = f.hidden_field :category_id, :value =>1
        = f.submit "もっと見る 〉",class: "listsearch"
    %ul.toppage-body__container--items
      - @ladies_items.each do |item|
        %li
          .item-box
            = link_to item_path(item), data: {"turbolinks" => false} do
              .item-box__img
                %span
                  = "¥#{item.price.to_s(:delimited, delimiter: ',')}"
                = image_tag item.images[0], alt: "商品の画像"
              .item-box__title
                %p
                  = item.name
                .gradient
            - if item.buyer_id != nil
              .sold-tag
                .sold-text
                  SOLD

  .toppage-body__container#topmens
    .toppage-body__container--heading
      メンズ新着アイテム
      = form_with url: categorylist_items_path, method: :get, local: true do |f|
        = f.hidden_field :category_id, :value =>2
        = f.submit "もっと見る 〉",class: "listsearch"
    %ul.toppage-body__container--items
      - @mens_items.each do |item|
        %li
          .item-box
            = link_to item_path(item.id), data: {"turbolinks" => false} do
              .item-box__img
                %span
                  = "¥#{item.price.to_s(:delimited, delimiter: ',')}"
                = image_tag item.images[0], alt: "商品の画像"
              .item-box__title
                %p
                  = item.name
                .gradient
            - if item.buyer_id != nil
              .sold-tag
                .sold-text
                  SOLD
  .toppage-body__container#topkadens
    .toppage-body__container--heading
      家電・スマホ・カメラ新着アイテム
      = form_with url: categorylist_items_path, method: :get, local: true do |f|
        = f.hidden_field :category_id, :value =>8
        = f.submit "もっと見る 〉",class: "listsearch"
    %ul.toppage-body__container--items
      - @kadens_items.each do |item|
        %li
          .item-box
            = link_to item_path(item), data: {"turbolinks" => false} do
              .item-box__img
                %span
                  = "¥#{item.price.to_s(:delimited, delimiter: ',')}"
                = image_tag item.images[0], width: "188", alt: "商品の画像"
              .item-box__title
                %p
                  = item.name
                .gradient
            - if item.buyer_id != nil
              .sold-tag
                .sold-text
                  SOLD
  .toppage-body__container#toptoys
    .toppage-body__container--heading
      おもちゃ・ホビー・グッズ新着アイテム
      = form_with url: categorylist_items_path, method: :get, local: true do |f|
        = f.hidden_field :category_id, :value =>6
        = f.submit "もっと見る 〉",class: "listsearch"
    %ul.toppage-body__container--items
      - @toys_items.each do |item|
        %li
          .item-box
            = link_to item_path(item), data: {"turbolinks" => false} do
              .item-box__img
                %span
                  = "¥#{item.price.to_s(:delimited, delimiter: ',')}"
                = image_tag item.images[0], width: "188", alt: "商品の画像"
              .item-box__title
                %p
                  = item.name
                .gradient
            - if item.buyer_id != nil
              .sold-tag
                .sold-text
                  SOLD

.toppage-body
  .toppage-body__heading
    .toppage-body__heading--title
      人気のブランド
    %ul.toppage-body__heading--categores
      %li.toppage-body__heading--category#chanelsbtn
        %a シャネル
      %li.toppage-body__heading--category#vuittonsbtn
        %a ルイヴィトン
      %li.toppage-body__heading--category#supsbtn
        %a シュプリーム
      %li.toppage-body__heading--category#nikesbtn
        %a ナイキ

  .toppage-body__container#topchanels
    .toppage-body__container--heading
      シャネル新着アイテム
      = form_with url: brandlist_items_path, method: :get, local: true do |f|
        = f.hidden_field :brand_id, :value =>"シャネル"
        = f.submit "もっと見る 〉",class: "listsearch"
    %ul.toppage-body__container--items
      - @chanels_items.each do |item|
        %li
          .item-box
            = link_to item_path(item), data: {"turbolinks" => false} do
              .item-box__img
                %span
                  = "¥#{item.price.to_s(:delimited, delimiter: ',')}"
                = image_tag item.images[0], width: "188", alt: "商品の画像"
              .item-box__title
                = item.name
                .gradient
            - if item.buyer_id != nil
              .sold-tag
                .sold-text
                  SOLD
  .toppage-body__container#topvuittons
    .toppage-body__container--heading
      ルイヴィトン新着アイテム
      = form_with url: brandlist_items_path, method: :get, local: true do |f|
        = f.hidden_field :brand_id, :value =>"ルイヴィトン"
        = f.submit "もっと見る 〉",class: "listsearch"
    %ul.toppage-body__container--items
      - @vuittons_items.each do |item|
        %li
          .item-box
            = link_to item_path(item), data: {"turbolinks" => false} do
              .item-box__img
                %span
                  = "¥#{item.price.to_s(:delimited, delimiter: ',')}"
                = image_tag item.images[0], width: "188", alt: "商品の画像"
              .item-box__title
                = item.name
                .gradient
            - if item.buyer_id != nil
              .sold-tag
                .sold-text
                  SOLD
  .toppage-body__container#topsups
    .toppage-body__container--heading
      シュプリーム新着アイテム
      = form_with url: brandlist_items_path, method: :get, local: true do |f|
        = f.hidden_field :brand_id, :value =>"シュプリーム"
        = f.submit "もっと見る 〉",class: "listsearch"
    %ul.toppage-body__container--items
      - @sups_items.each do |item|
        %li
          .item-box
            = link_to item_path(item), data: {"turbolinks" => false} do
              .item-box__img
                %span
                  = "¥#{item.price.to_s(:delimited, delimiter: ',')}"
                = image_tag item.images[0], width: "188", alt: "商品の画像"
              .item-box__title
                = item.name
                .gradient
            - if item.buyer_id != nil
              .sold-tag
                .sold-text
                  SOLD
  .toppage-body__container#topnikes
    .toppage-body__container--heading
      ナイキ新着アイテム
      = form_with url: brandlist_items_path, method: :get, local: true do |f|
        = f.hidden_field :brand_id, :value =>"ナイキ"
        = f.submit "もっと見る 〉",class: "listsearch"
    %ul.toppage-body__container--items
      - @nikes_items.each do |item|
        %li
          .item-box
            = link_to item_path(item), data: {"turbolinks" => false} do
              .item-box__img
                %span
                  = "¥#{item.price.to_s(:delimited, delimiter: ',')}"
                = image_tag item.images[0], width: "188", alt: "商品の画像"
              .item-box__title
                = item.name
                .gradient
            - if item.buyer_id != nil
              .sold-tag
                .sold-text
                  SOLD

- if user_signed_in?
  = render 'shared/exhibit_btn'

= render 'shared/top_footer'