= render 'shared/top_header'
//------------------------------------------------------------
//||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
//スライド-----------------------------------------------------

.body-campaign
  .slick
    %a(href="https://jp-news.mercari.com/2019/12/05/kaushika-kaudake-2/")
      %img{:src => "https://i.gyazo.com/9fb96cc24a97feb16055d9b5c8758e9c.jpg", :width => "1440"}/
    %a(href="https://www.mercari.com/jp/featured/camp/")
      %img{:src => "https://i.gyazo.com/5f02d2c7e47358dbd19ec4a5ee8af672.jpg", :width => "1440"}/
    %a(href="https://apps.apple.com/jp/app/id667861049?l=ja")
      %img{:src => "https://i.gyazo.com/79b3da6d5fac946fbc7cd734066c75c2.jpg", :width => "1440"}/

//------------------------------------------------------------
//||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
//トップページボデぃー ------------------------------------------

.toppage-body
  .toppage-body__heading
    .toppage-body__heading--title
      人気のカテゴリー
    %ul.toppage-body__heading--categores
      %li.toppage-body__heading--category
        %a(href="#") レディース
      %li.toppage-body__heading--category
        %a(href="#") メンズ
      %li.toppage-body__heading--category
        %a(href="#") 家電・スマホ・カメラ
      %li.toppage-body__heading--category
        %a(href="#") おもちゃ・ホビー・グッズ

  .toppage-body__container
    .toppage-body__container--heading
      レディース新着アイテム
      %a(href="#")
        もっと見る 〉
    %ul.toppage-body__container--items
      - @ladies_items.each do |item|
        %li
          .item-box
            = link_to item_path(item), data: {"turbolinks" => false} do
              .item-box__img
                %span
                  = "¥#{item.price.to_s(:delimited, delimiter: ',')}"
                = image_tag item.photos[0].url.url, width: "188", alt: "商品の画像"
              .item-box__title
                = item.name
                .gradient
            - if item.buyer_id != nil
              .sold-tag
                .sold-text
                  SOLD

  .toppage-body__container
    .toppage-body__container--heading
      メンズ新着アイテム
      %a(href="#")
        もっと見る 〉
    %ul.toppage-body__container--items
      - @mens_items.each do |item|
        %li
          .item-box
            = link_to item_path(item), data: {"turbolinks" => false} do
              .item-box__img
                %span
                  = "¥#{item.price.to_s(:delimited, delimiter: ',')}"
                = image_tag item.photos[0].url.url, width: "188", alt: "商品の画像"
              .item-box__title
                = item.name
                .gradient
            - if item.buyer_id != nil
              .sold-tag
                .sold-text
                  SOLD
  .toppage-body__container
    .toppage-body__container--heading
      家電・スマホ・カメラ新着アイテム
      %a(href="#")
        もっと見る 〉
    %ul.toppage-body__container--items
      - @kadens_items.each do |item|
        %li
          .item-box
            = link_to item_path(item), data: {"turbolinks" => false} do
              .item-box__img
                %span
                  = "¥#{item.price.to_s(:delimited, delimiter: ',')}"
                = image_tag item.photos[0].url.url, width: "188", alt: "商品の画像"
              .item-box__title
                = item.name
                .gradient
            - if item.buyer_id != nil
              .sold-tag
                .sold-text
                  SOLD
  .toppage-body__container
    .toppage-body__container--heading
      おもちゃ・ホビー・グッズ新着アイテム
      %a(href="#")
        もっと見る 〉
    %ul.toppage-body__container--items
      - @toys_items.each do |item|
        %li
          .item-box
            = link_to item_path(item), data: {"turbolinks" => false} do
              .item-box__img
                %span
                  = "¥#{item.price.to_s(:delimited, delimiter: ',')}"
                = image_tag item.photos[0].url.url, width: "188", alt: "商品の画像"
              .item-box__title
                = item.name
                .gradient
            - if item.buyer_id != nil
              .sold-tag
                .sold-text
                  SOLD

.toppage-body
  .toppage-body__heading
    .toppage-body__heading--title
      人気のブランド
    %ul.toppage-body__heading--categores
      %li.toppage-body__heading--category
        %a(href="#") シャネル
      %li.toppage-body__heading--category
        %a(href="#") ルイヴィトン
      %li.toppage-body__heading--category
        %a(href="#") シュプリーム
      %li.toppage-body__heading--category
        %a(href="#") ナイキ

  .toppage-body__container
    .toppage-body__container--heading
      シャネル新着アイテム
      %a(href="#")
        もっと見る 〉
    %ul.toppage-body__container--items
      - @chanels_items.each do |item|
        %li
          .item-box
            = link_to item_path(item), data: {"turbolinks" => false} do
              .item-box__img
                %span
                  = "¥#{item.price.to_s(:delimited, delimiter: ',')}"
                = image_tag item.photos[0].url.url, width: "188", alt: "商品の画像"
              .item-box__title
                = item.name
                .gradient
            - if item.buyer_id != nil
              .sold-tag
                .sold-text
                  SOLD
  .toppage-body__container
    .toppage-body__container--heading
      ルイヴィトン新着アイテム
      %a(href="#")
        もっと見る 〉
    %ul.toppage-body__container--items
      - @vuittons_items.each do |item|
        %li
          .item-box
            = link_to item_path(item), data: {"turbolinks" => false} do
              .item-box__img
                %span
                  = "¥#{item.price.to_s(:delimited, delimiter: ',')}"
                = image_tag item.photos[0].url.url, width: "188", alt: "商品の画像"
              .item-box__title
                = item.name
                .gradient
            - if item.buyer_id != nil
              .sold-tag
                .sold-text
                  SOLD
  .toppage-body__container
    .toppage-body__container--heading
      シュプリーム新着アイテム
      %a(href="#")
        もっと見る 〉
    %ul.toppage-body__container--items
      - @sups_items.each do |item|
        %li
          .item-box
            = link_to item_path(item), data: {"turbolinks" => false} do
              .item-box__img
                %span
                  = "¥#{item.price.to_s(:delimited, delimiter: ',')}"
                = image_tag item.photos[0].url.url, width: "188", alt: "商品の画像"
              .item-box__title
                = item.name
                .gradient
            - if item.buyer_id != nil
              .sold-tag
                .sold-text
                  SOLD
  .toppage-body__container
    .toppage-body__container--heading
      ナイキ新着アイテム
      %a(href="#")
        もっと見る 〉
    %ul.toppage-body__container--items
      - @nikes_items.each do |item|
        %li
          .item-box
            = link_to item_path(item), data: {"turbolinks" => false} do
              .item-box__img
                %span
                  = "¥#{item.price.to_s(:delimited, delimiter: ',')}"
                = image_tag item.photos[0].url.url, width: "188", alt: "商品の画像"
              .item-box__title
                = item.name
                .gradient
            - if item.buyer_id != nil
              .sold-tag
                .sold-text
                  SOLD

- if user_signed_in?
  = render 'shared/exhibit_btn'

= render 'shared/top_footer'
