.exhibit
  .exhibit__logo
    %a(href="https://fril.jp/" target="_blank")
      %img(src="//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?2177740229" alt="ラクマ")/
= form_for @item do |i|
  = i.text_field :user_id
  = i.text_field :category_id
  = i.text_field :brand_id
  .exhibit__container
    
    .exhibit__container--form
      .exhibit__container--form__head
        %p 商品の情報を入力
    .exhibit__container--form
      .exhibit__container--form__image
        .exhibit__container--form__image--label
          出品画像
          %span 必須
          %p 最大10枚までアップロードできます
        .exhibit__container--form__image--input
          %form(action="#")
            %label
              ドラッグアンドドロップ
              またはクリックしてファイルを選択してください
              %input(type="file")

    .exhibit__container--form
      .exhibit__container--form__name
        .exhibit__container--form__name--label
          商品名
          %span 必須
        .exhibit__container--form__name--input
          = i.text_field :name, placeholder: "商品名 (必須40文字まで)"
          -# %input{name: "name", type: "text", placeholder: "商品名 (必須40文字まで)"}

      .exhibit__container--form__text
        .exhibit__container--form__text--label
          商品の説明
          %span 必須
        .exhibit__container--form__text--input
          = i.text_area :description, placeholder: "商品名 (必須1,000文字以内) (色、素材、重さ、定価、注意点など) 例)2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。合わせやすいのでおすすめです。"
          -# %textarea{placeholder: "商品名 (必須1,000文字以内) (色、素材、重さ、定価、注意点など) 例)2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。合わせやすいのでおすすめです。"}
    
    .exhibit__container--form
      %h3 商品の詳細
      .right-box
        .exhibit__container--form__category--label
          カテゴリー
          %span 必須
        .exhibit__container--form__category--input
          %input{name: "category", type: "text", placeholder: ""}

        .exhibit__container--form__status--label
          商品の状態
          %span 必須
        .exhibit__container--form__status--input
          = i.select :status,[["新品、未使用",1],["未使用に近い",2],["目立った傷や汚れなし",3],["やや傷や汚れあり",4],["傷や汚れあり",5],["全体的に状態が悪い",6]],prompt: "---"
          -# %input{name: "status", type: "text", placeholder: ""}

    .exhibit__container--form
      %h3 配送について
      .right-box
        .exhibit__container--form__category--label
          配送料の負担
          %span 必須
        .exhibit__container--form__category--input
          = i.select :post_money,[["送料込み(出品者負担)","送料込み(出品者負担)"],["着払い(購入者負担)","着払い(購入者負担)"]],prompt: "---"
          -# %input{name: "category", type: "text", placeholder: "---"}

        .exhibit__container--form__status--label
          発送元の地域
          %span 必須
        .exhibit__container--form__status--input
          = i.select :post_region,[["北海道","北海道"],["青森県","青森県"],["岩手県","岩手県"],["宮城県","宮城県"],["秋田県","秋田県"],["山形県","山形県"],["福島県","福島県"],["茨城県","茨城県"],["栃木県","栃木県"],["群馬県","群馬県"],["埼玉県","埼玉県"],["千葉県","千葉県"],["東京都","東京都"],["神奈川県","神奈川県"],["新潟県","新潟県"],["富山県","富山県"],["石川県","石川県"],["福井県","福井県"],["山梨県","山梨県"],["長野県","長野県"],["岐阜県","岐阜県"],["静岡県","静岡県"],["愛知県","愛知県"],["三重県","三重県"],["滋賀県","滋賀県"],["京都府","京都府"],["大阪府","大阪府"],["兵庫県","兵庫県"],["奈良県","奈良県"],["和歌山県","和歌山県"],["鳥取県","鳥取県"],["島根県","島根県"],["岡山県","岡山県"],["広島県","広島県"],["山口県","山口県"],["徳島県","徳島県"],["香川県","香川県"],["愛媛県","愛媛県"],["高知県","高知県"],["福岡県","福岡県"],["佐賀県","佐賀県"],["長崎県","長崎県"],["熊本県","熊本県"],["大分県","大分県"],["宮崎県","宮崎県"],["鹿児島県","鹿児島県"],["沖縄県","沖縄県"],["未定","未定"]],prompt: "---"
          -# %input{name: "status", type: "text", placeholder: "---"}

        .exhibit__container--form__status--label
          発送までの日数
          %span 必須
        .exhibit__container--form__status--input
          = i.select :post_day,[["1~2日で発送","1~2日で発送"],["2~3日で発送","2~3日で発送"],["4~7日で発送","4~7日で発送"]],prompt: "---"
          -# %input{name: "status", type: "text", placeholder: "---"}

    .exhibit__container--form
      %h3 販売価格(300〜9,999,999)
      .exhibit__container--form__price
        .price-box
          .price__input
            .price__input--title
              価格
              %span 必須
            .price__input--yen
              ¥
              = i.text_field :price
              -# %input{id: "price", name: "category", type: "text", placeholder: "例）300"}
          .price__fee
            %p 販売手数料(10%)
            .p
              %p#pa
              %p#p -
          .price__profit
            %p 販売利益
            .p
              %p#pb
              %p#pp -

    .exhibit__container--form
      .exhibit__container--form__submit
        %p
          %a(href="#") 禁止されている出品
          ,
          %a(href="#") 行為
          を必ずご確認ください。
        %p
          またブランド品でシリアルナンバー等がある場合はご記載ください。
          %a(href="#") 偽ブランドの販売
          は犯罪であり処罰される可能性があります。
        %p
          また,出品をもちまして
          %a(href="#") 加盟店規約
          に同意したことになります。
        = i.submit value="出品する"
        -# %input(type="submit" value="出品する")/
        .back
          = link_to "もどる", root_path
  
  //販売手数料を計算するためのjs-----------------------------
  %script
    $(function() {
    $("#price").on("keyup", function() {
    var input = $("#price").val();

    if (input >= 300 && input <= 9999999) {
    var number = Number(input);

    t = number / 10;
    te = Math.round(t);
    r = number * 0.9;
    ri = Math.round(r);
    tesuryo = te.toLocaleString();
    rieki = ri.toLocaleString();

    $('p#pa').html('<p>¥</p>');
    $('p#p').html(tesuryo);
    $('p#pb').html('<p>¥</p>');
    $('p#pp').html(rieki);
    }else{
    $('p#pa').html('<p></p>');
    $('p#p').html('-');
    $('p#pb').html('<p></p>');
    $('p#pp').html('-');
    }

    });
    });
    //---------------------------------------------------
  .exhibit__footer
    .exhibit__footer--kiyaku
      %ul.exhibit__footer--kiyaku__list
        %li プライバシーポリシー
        %li メルカリ利用規約
        %li 特定商取引に関する表記
    .exhibit__footer--logo
      %img(src="//www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?2177740229" alt="Rakuten")/
    .exhibit__footer--copy
      %small © 2019 Mercari