.buy-confirmation
  .buy-confirmation__header
    %h3
      = link_to root_path do
        = image_tag "/images/fmarket_logo_red.svg", alt: "ロゴ", size: "250x55"
  .buy-confirmation__main
    %section.buy__mainbox
      %h2 購入が完了しました
      %section.buy__item
        .buy__item-box
          = image_tag @item.images[0], width: "80", alt: "商品の画像"
          .buy__item-box-right
            %p.item-name
              = @item.name
            %p.buy-price
              = "¥#{@item.price.to_s(:delimited, delimiter: ',')}"
              %span （税込）送料込み
          %form
            .buy__price-box.clearfix
              .price-tag
                支払い金額
              .total-price
                = "¥#{@item.price.to_s(:delimited, delimiter: ',')}"

      %section.buy__user-address
        .buy__user-address__box
          %h3 配送先
          %address
            -# = "〒#{current_user.user_info.post_number.to_i(3,"-")}"
            = "〒#{current_user.user_info.post_number}"
            %br
            = current_user.user_info.city
            = current_user.user_info.address
            = current_user.user_info.building
      %section.buy__user-payment
        .buy__user-payment__box
          %form.card__payment__content
            = image_tag 'https://www-mercari-jp.akamaized.net/assets/img/card/visa.svg', size: "49x20"
            .card__list
              .card__list__picture  
            .card__number 
              = "**** **** **** " + @card_info.last4
            .expire__date 
              - exp_month = @card_info.exp_month.to_s
              - exp_year = @card_info.exp_year.to_s.slice(2,3)
              = exp_month + " / " + exp_year
  .buy-confirmation__footer
    %nav
      %ul
        %li
          = link_to root_path do
            プライバシーポリシー
        %li
          = link_to root_path do
            メルカリ利用規約
        %li
          = link_to root_path do
            特定商取引に関する表記
    = link_to root_path, class: "app-logo" do
      = image_tag "/images/logo_red.svg", alt: "ふりまの画像", size: "45x45"
    %p.footer-text
      %small © 2019 Mercari