
= render 'shared/top_header'

.show
  .show__item
    .show__item__title
      = @item.name
    .show__item__infobox
      .show__item__infobox__box
        .show__item__infobox__box__image
          = image_tag @item.photos[0].url.url, size: "300x300", class: "main-image"
          - if @item.buyer_id != nil
            .sold-tag
              .sold-text
                SOLD
        .show__item__infobox__box__mini
          - @item.photos.each do |image|
            = image_tag image.url.url, size: "60x60", class: "mini-image"
      .show__item__infobox__user
        %table{border: "1"}
          %tr
            %th å‡ºå“è€…
            %td
              = link_to profile_users_path, data: {"turbolinks" => false} do
                = @item.user.nickname
          %tr
            %th ã‚«ãƒ†ã‚´ãƒªãƒ¼
            %td
              = link_to root_path, data: {"turbolinks" => false} do
                = @item.category.name
                -# = @item.category.subtree.name
                -# <br>
                -# = "ï¼ž#{@item.category.children.name}"
                -# <br>
                -# = "ï¼ž#{@item.category.indirects.name}"
          - if @item.brand == ""
            %tr
              %th ãƒ–ãƒ©ãƒ³ãƒ‰
              %td 
                = link_to root_path, data: {"turbolinks" => false} do
                  = @item.brand
          -# - if @item
          -# %tr
          -#   %th å•†å“ã®ã‚µã‚¤ã‚º
          -#   %td ï¼•L
          %tr
            %th å•†å“ã®çŠ¶æ…‹
            %td
              = @item.status
          %tr
            %th é…é€æ–™ã®è² æ‹…
            %td 
              = @item.post_money
          %tr
            %th é…é€æ–¹æ³•
            %td æ™®é€šéƒµä¾¿
          %tr
            %th é…é€å…ƒåœ°åŸŸ
            %td 
              = link_to root_path, data: {"turbolinks" => false} do
                = @item.post_region
          %tr
            %th ç™ºé€æ—¥ã®ç›®å®‰
            %td
              = @item.post_day
    .show__item__pricebox
      .show__item__pricebox__price
        Â¥
        = @item.price.to_s(:delimited, delimiter: ',')
      .show__item__pricebox__tax
        ï¼ˆç¨Žé‡‘è¾¼ã¿ï¼‰
      .show__item__pricebox__postage
        é€æ–™è¾¼ã¿
    - if @item.buyer_id != nil
      %button.sold å£²ã‚Šåˆ‡ã‚Œã¾ã—ãŸ
    - else
      - if user_signed_in? && current_user.id == @item.user.id
        = link_to edit_item_path(current_user) do
          %button.progress ç·¨é›†ã™ã‚‹
        = link_to item_path(@item), method: :delete do
          %button.progress å‰Šé™¤ã™ã‚‹
      - else
        = link_to buy_item_path do
          %button.progress è³¼å…¥ç”»é¢ã«é€²ã‚€

    -# = link_to buy_item_path do
    -#   %button.progress è³¼å…¥ç”»é¢ã«é€²ã‚€
    .show__item__discription
      = @item.description
    .show__item__bottom
      %button.like ã„ã„ã­ã™ã‚“ãª
      %button.inappropriate ä¸é©åˆ‡ãªå•†å“ã®å ±å‘Š
      .show__item__bottom__safe
        = link_to "https://www.alsok.co.jp/" do
          = icon 'fas', 'unlock-alt'
          å®‰å¿ƒå®‰å…¨ã¸ã®å–ã‚Šçµ„ã¿
  .show__chat
    -# .show__chat__box
    -#   .show__chat__box__imgae
    -#     = image_tag "/assets/star-on.png", alt: "ãƒ¦ãƒ¼ã‚¶ãƒ¼ã®å†™çœŸ", size: "30x30"
      -# .show__chat__box__box
      -#   .show__chat__box__nickname
      -#     nickname
      -#   .show__chat__box__massage
      -#     .show__chat__box__massage__content
      -#       å€¤ä¸‹ã’ã—ã‚é«˜ã„
      -#     .show__chat__box__massage__bottom
      -#       .show__chat__box__massage__bottom__past
      -#         1ä¸‡å¹´ã¨2000å¹´å‰ã‹ã‚‰
      -#       .show__chat__box__massage__bottom__inappropriate
      -#         ðŸš«
    .show__chat__caution
      ç›¸æ‰‹ã®ã“ã¨ã‚’è€ƒãˆä¸å¯§ãªã‚³ãƒ¡ãƒ³ãƒˆã‚’å¿ƒãŒã‘ã¾ã—ã‚‡ã†ã€‚ä¸å¿«ãªè¨€è‘‰é£ã„ãªã©ã¯åˆ©ç”¨åˆ¶é™ã‚„é€€ä¼šå‡¦åˆ†ã¨ãªã‚‹ã“ã¨ãŒã‚ã‚Šã¾ã™ã€‚
    %input.text_area
    - if @item.buyer_id != nil
      %button.comment å£²ã‚Šåˆ‡ã‚Œã®ãŸã‚ã‚³ãƒ¡ãƒ³ãƒˆã§ãã¾ã›ã‚“
    - else
      %button.comment ã‚³ãƒ¡ãƒ³ãƒˆã™ã‚‹
  .show__list
    - if @item.previous
      = link_to item_path(@item.previous) do
        = "ï¼œ#{@item.previous.name}"
    - if @item.next
      = link_to item_path(@item.next) do 
        = "#{@item.next.name}ï¼ž"
  .show__snsbox
    = link_to root_path, class: "facebook" do
      = icon 'fab', 'facebook-square'
    = link_to 'https://fontawesome.com/icons/twitter-square?style=brands', class: "twitter" do
      = icon 'fab', 'twitter-square'
    = link_to 'https://matome.naver.jp/odai/2137179328498470601', class: "a" do
      = icon 'fas', 'toilet'
    = link_to 'https://www.facebook.com/', class: "b" do
      = icon 'fab', 'accessible-icon'
  .toppage-body__container
    .toppage-body__container--heading
      .show__itemtable
        = link_to root_path do
          = "#{@item.user.nickname}ã•ã‚“ã®ãã®ä»–ã®å‡ºå“"
    %ul.toppage-body__container--items
      - @items.each do |item|
        %li
          .item-box
            = link_to item_path(item), data: {"turbolinks" => false} do
              .item-box__img
                %span
                  = "Â¥#{item.price.to_s(:delimited, delimiter: ',')}"
                = image_tag item.photos[0].url.url, width: "188", alt: "å•†å“ã®ç”»åƒ"
              .item-box__title
                = item.name
                .gradient
            - if item.buyer_id != nil
              .sold-tag
                .sold-text
                  SOLD
  .toppage-body__container
    .toppage-body__container--heading
      .show__itemtable
        = link_to root_path do
          = "#{@item.category.name}ã®ãã®ä»–ã®å‡ºå“"
    %ul.toppage-body__container--items
      - @ladies_items.each do |item|
        %li
          .item-box
            = link_to item_path(item), data: {"turbolinks" => false} do
              .item-box__img
                %span
                  = "Â¥#{item.price.to_s(:delimited, delimiter: ',')}"
                = image_tag item.photos[0].url.url, width: "188", alt: "å•†å“ã®ç”»åƒ"
              .item-box__title
                = item.name
                .gradient
            - if item.buyer_id != nil
              .sold-tag
                .sold-text
                  SOLD
.breadcrumbs-box-itemshow
  - breadcrumb :itemshow
  = breadcrumbs separator: " #{content_tag(:i, '', :class=>'fa fa-angle-double-right')} "

= render 'shared/top_footer'